body{
	background-color: #7a0e0c; 

}

#modif{
	color: white;
	display: flex;
	flex-direction: column;
	position: absolute;
	top :40%;
	left :70%;
}

#modif input {
	width: 50px;
}

#Login{
	color: white;
	display: flex;
	flex-direction: column;
	position: absolute;
	top :50%;
	left :40%;
}
